.box{
    border:1px solid orange;
    width: 200px;
    height: 200px;
    line-height:200px;
    text-align: center;
}
.box>img{
    width: 100px;
    height: 100px;
}
.box2{
    margin:15px;
    width: 250px;
    height: 200px;
    border:1px solid black;
    background:url("../images/bg.jpg");
}